*.bin
notes/*
roms/*
.DS_Store
src/neato/suite/*
pkg/*
command-line-arguments.test
src/neato/neato
src/neato/ppu_tests/*
!src/neato/ppu_tests/bin
!src/neato/ppu_tests/screenshots
src/github.com/
src/launchpad.net/
src/neato/instr_test-v3/
src/neato/ppu_vbl_nmi/
src/neato/neato.log
blargg_ppu_tests_*
src/code.google.com/
src/neato/cpu_tests/ascii-src/
src/neato/cpu_tests/start
